body{
    background-color: hsl(214, 47%, 23%);
    color: white;
}

.proLogo-container{
    display:grid;
    justify-content: center;
    height: 100%;
}

.score{
    font-size: 55px;
    margin: 20px 0px 20px 0px;
}

.actions-container{
    display:grid;
    justify-content: center;
    height: 100%;
}

.rules-container{
    margin: 25px 0 0 0;
    display:grid;
    justify-content: center;
    height: 100%;
}

#rules-button{
    display: flex;
    justify-content: center;
    width:100px;
}